
*.xcuserstate

AnimationPerformance.xcodeproj/xcuserdata/crazymilksoftware.xcuserdatad/xcschemes/AnimationPerformance.xcscheme

AnimationPerformance.xcodeproj/xcuserdata/crazymilksoftware.xcuserdatad/xcschemes/xcschememanagement.plist
